

@model Cyclo.Models.EmailModel
@{
    Layout = null;
}
<html>
<body>
    <h1>Новая задача "@Model.job.name"</h1>
    <p>Добрый день! В электронной циклограмме Гимназии 1576 вам поставлена новая задача!</p>
    <p><a href="http://calendar.gymn1576.ru/Jobs/">Перейти к списку задач</a></p>
</body>
</html>